<!DOCTYPE html>
<html lang="en">

<head>
	<title>EtuEDT - Accueil</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{>css}}

	<link href='/css/select.css' rel='stylesheet' />
</head>

<body>
	<div class="hideMobile left">
		<img src="images/icons/favicon.ico" width="148px" />
	</div>

	<div class="container container-base w-75">
		{{#if init}}
		<div id="main">
			<div>
				<h1>Initialisation en cours...</h1>
			</div>
			<hr />
		</div>

		<script>
			setTimeout(() => window.location.reload(), 1000);
		</script>
		{{else}}
		<div id="main">
			<div>
				<h1>Veuillez sélectionner un emploi du temps :</h1>
			</div>
			<hr />

			<div>
				{{#each edtList}}
				<div class="univDiv">
					<h2 class="text-center">{{this.nomUniv}} :</h2>
					<div class="d-flex flex-row justify-content-around">
						{{#each this.data}}
						<div>
							<h2 class="text-center">{{this.numAnnee}}A :</h2>

							<div class="anneeDiv">
								{{#each this.data}}
								<div>
									<button type="button" onclick='redirectEDT("{{edtId}}")'
										class='btn btn-lg edt edt{{@index}}'>{{edtName}}</button>
								</div>
								{{/each}}
							</div>
						</div>
						{{/each}}
					</div>
				</div>
				{{/each}}
			</div>
		</div>

		<div style="margin-top: 50px;">
			<div>
				<h1>Options :</h1>
			</div>
			<hr />
			<div id="optList">
				{{#each options}}
				<div id="{{name}}">
					<label>
						<input name="{{name}}" id="check-{{name}}" type="checkbox" {{#if checked}}checked{{/if}}
							data-toggle="toggle" data-onstyle="success" data-offstyle="danger"
							data-on="<i class='fas fa-check'></i>" data-off="<i class='fas fa-times'></i>"
							autocomplete="off" />
					</label>
					<span style="margin-left: 15px;" class="infos">Afficher les {{name}}s</span>
				</div>
				{{/each}}
			</div>
		</div>
		{{/if}}
	</div>

	{{>js}}
	<script src="/js/select/select.js"></script>
</body>

</html>